html, body {
          margin: 0px;
          padding: 0px;
          overflow: hidden;
          background-color: #242033;
          transition: background-color 2s;
          font-family: 'Akkurat';
          color: #fff;
      }

      #shell {
          width: 100vw;
          height: 100vh;
      }

      canvas {
          transform: scale(0.5, 0.5);
          transform-origin: 0 0;
          position: absolute;
          left: 0;
          top: 0;
          background-image: linear-gradient(#492540, #34314c);
      }

      .show-role-assist, .show-role-driver {
          display: none;
      }

      body.role-assist .show-role-assist {
          display: block;
      }

      body.role-driver .show-role-driver {
          display: block;
      }

      body.role-driver {
          background-color: #252235;
      }

      body.role-assist {
          background-color: #252235;
      }

      body.role-assist canvas {
          background-color: #262339;
      }

      .role-screen {
          position: absolute;
          position: absolute;
          left: 750px;
          width: calc(100vw - 750px);
          height: 100vh;
          text-align: center;
          top: 0;
          overflow: hidden;
      }

      body.role-assist canvas {
          left: calc(100vw - 750px);
      }

      body.role-assist .role-screen {
          left: 0;
      }

      .role-screen .inner {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
      }

      .role-screen img.avatar {
          margin: auto;
          width: 120px;
          margin-bottom: 30px;
      }

      .role-screen img.marker {
          margin: auto;
          width: 30px;
      }

      .role-screen h1 {
            font-weight: 100;
            margin-top: 8px;
            margin-bottom: 0;
            font-size: 30px;
      }

      .role-screen h2 {
            color: #c5e99b;
            font-weight: 100;
            font-size: 25px;
            margin-top: 0;
      }