.game-over {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #48263F;
    opacity: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over .skull {
    width: 200px;
    margin-bottom: 30px;
}

.game-over .logotype {
    width: 180px;
}

.game-over button {
    margin-top: 70px;
}

.game-over button,
.game-over button::before,
.game-over button::after {
    background: #e6565b;
    color: #48263F;
}