.main-menu {
    display: flex;
    height: 100%;
    cursor: pointer;
}

.main-menu>div {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 200ms linear;
}

.main-menu img {
    width: 200px;
    height: 200px;
    transition: transform .2s, margin .2s;
}

.main-menu h1 {
    font-weight: 100;
    margin-bottom: 15px;
}

.main-menu>div button {
    font-weight: 100;
    margin-top: 15px;
}

.main-menu>div:hover img,
.main-menu>div.selected img{
    transform: scale(1.2);
    margin: 30px auto;
}
.main-menu>div.not-selected{
    transform: translateX(50%);
    pointer-events: none;
    filter: grayscale() blur(3px);
}
.blur {
    filter: blur(3px);
}
.main-menu>div.selected {
    transform: scale(1.5);
}

.main-menu .assist {
    background: #492540;
}

.main-menu .assist button {
    background: #FFC952;
}

.main-menu button[disabled] {
    opacity: 1;
    color: rgba(255, 255, 255, .3);
    background: #1a1521;
}

.main-menu .alt-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    /*margin-top: 200px;*/
}