.main-menu {
    display: flex;
    height: 100%;
    cursor: pointer;
}

.main-menu>.option {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 200ms linear;
}

.main-menu>.option.selected,
.option[disabled] {
    pointer-events: none;
}

.main-menu img {
    width: 200px;
    height: 200px;
}

.main-menu h1 {
    font-weight: 100;
    margin-bottom: 15px;
}

.main-menu>.option button {
    font-weight: 100;
    margin-top: 15px;
}

.main-menu [data-role="game-start-solo"][disabled] {
    opacity: 0.4;
}

.main-menu .alt-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 240px;
    left: calc(50vw - 120px);
    justify-content: space-around;
    align-items: center;
}
.main-menu .alt-buttons img {
    width: 240px;
    height: 240px;
}

.main-menu [data-role="game-start-solo"],
.main-menu [data-role="game-start-solo"]::before,
.main-menu [data-role="game-start-solo"]::after {
    background: #E85659;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.assist button {
    background-image: url('/assets/icon/arrow-right.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    min-width: 80px;
}

.drive button {
    background-image: url('/assets/icon/arrow-left.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    min-width: 80px;
}

.assist.selected button,
.assist.selected button::before,
.assist.selected button::after {
    background-color: #FEC85D;
    background-image: url('/assets/icon/tick.svg');
}

.drive.selected button,
.drive.selected button::before,
.drive.selected button::after {
    background-color: #79F7DD;
    background-image: url('/assets/icon/tick.svg');
}