html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #242033;
    transition: background-color 2s;
    font-family: 'Akkurat';
    color: #fff;
}

:focus {
    outline: 0;
}

#shell {
    width: 100vw;
    height: 100vh;
}

canvas {
    transform: scale(0.5, 0.5);
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#492540, #34314c);
}

.show-role-assist, .show-role-driver {
    display: none;
}

body.role-assist .show-role-assist {
    display: block;
}

body.role-driver .show-role-driver {
    display: block;
}

body.role-driver {
    background-color: #252235;
}

body.role-assist {
    background-color: #252235;
}

body.role-assist canvas {
    background-color: #262339;
}

body.role-assist canvas {
    left: calc(100vw - 750px);
}

body.role-assist .role-screen {
    left: 0;
}

.game-over {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #48263F;
    opacity: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over img {
    width: 200px;
    height: 200px;
}

.game-over button {
    margin-top: 120px;
    background: #e6565b;
    color: #48263F;
}

button {
    border-radius: 0px;
    height: 40px;
    min-width: 120px;
    width: 120px;
    border: 0px;
    position: relative;
    padding: none;
    z-index: 2;
    margin-top: 12px;
    background: #CCCCCC;
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
}

button::before, button::after {
    z-index: -1;
    position: absolute;
    content: ' ';
    width: 28px;
    height: 28px;
    background: #CCCCCC;
    transform: rotate(45deg);
    top: 6px;
}

button::before {
    left: -14px;
}

button::after {
    right: -14px;
}

.splash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash img {
    width: 240px;
    height: 240px;
}

.start {
    position: relative;
    background-image: linear-gradient(#492540, #34314c);
}

.start:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('/assets/misc/stars.svg');
    background-size: 200px 200px;
    pointer-events: none;
}

#shell {
    position: relative;
}